:root {
  --baseA0: #1b1f32;
  --baseA1: #252a41;
  --baseA2: #444b6f;
  --baseA3: #51587b;
  --baseA4: #5e6587;
  --baseA5: #797e96;
  --baseA6: #9094a7;
  --baseA7: #a6aab9;
  --baseB0: #4961da;
  --baseB1: #516aec;
  --baseB2: #627af4;
  --baseB3: #7289fd;
  --baseB4: #8b9efd;
  --baseB5: #a5b3fe;
  --baseB6: #c3cdfe;
  --baseB7: #e1e6ff;
  --baseC0: #71787a;
  --baseC1: #818b8d;
  --baseC2: #939c9f;
  --baseC3: #a6aeb0;
  --baseC4: #b7c0c2;
  --baseC5: #cbd4d7;
  --baseC6: #e1e8ea;
  --baseC7: #f9fbfb;
  --baseD0: #289dbd;
  --baseD1: #33abcc;
  --baseD2: #4db0cb;
  --baseD3: #5cbcd6;
  --baseD4: #67c9e4;
  --baseD5: #75d5f0;
  --baseD6: #86e0f9;
  --baseD7: #99e9ff;
}

/* Default (light) theme */
:root {
  --bg: var(--baseC7);
  --accent-bg: var(--baseC6);
  --text: var(--baseA0);
  --text-light: var(--baseA3);
  --border: var(--baseC5);
  --accent: var(--baseB0);
  --accent-hover: var(--baseB2);
  --accent-text: var(--bg);
  --code: var(--baseD0);
  --preformatted:var(--baseD0);
  --marked: var(--baseD6);
  --disabled: var(--baseD7);

  --color-note: var(--baseA3);
  --color-important: var(--baseB1);
  --color-warning: var(--baseD1);
  --color-tip: var(--baseA3);
  --colour-caution: var(--baseD1);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: var(--baseA0);
        --accent-bg: var(--baseA1);
        --text: var(--baseC6);
        --text-light: var(--baseA4);
        --border: var(--baseA2);
        --accent: var(--baseB5);
        --accent-hover: var(--baseB7);
        --accent-text: var(--bg);
        --code: var(--baseD5);
        --preformatted:var(--baseD5);
        --marked: var(--baseD6);
        --disabled: var(--baseD7);

        --color-note: var(--baseA4);
        --color-important: var(--baseB1);
        --color-warning: var(--baseD1);
        --color-tip: var(--baseA4);
        --colour-caution: var(--baseD1);
    }
}

/* version 1 */

:root:has(h1.v1) {
  --baseA0: #24242e;
  --baseA1: #333342;
  --baseA2: #515167;
  --baseA3: #5b5b76;
  --baseA4: #737391;
  --baseA5: #8a8aa3;
  --baseA6: #a1a1b5;
  --baseA7: #b8b8c7;
  --baseB0: #5151e6;
  --baseB1: #6363ee;
  --baseB2: #7676f4;
  --baseB3: #767693;
  --baseB4: #8a8aad;
  --baseB5: #aaaaca;
  --baseB6: #cecee3;
  --baseB7: #ebebff;
  --baseC0: #7b736f;
  --baseC1: #8e8580;
  --baseC2: #a09792;
  --baseC3: #b1a9a5;
  --baseC4: #c3bbb7;
  --baseC5: #d8cfcb;
  --baseC6: #eae4e1;
  --baseC7: #fbf9f9;
  --baseD0: #b25424;
  --baseD1: #cb5c25;
  --baseD2: #dd672c;
  --baseD3: #e66e33;
  --baseD4: #ec7336;
  --baseD5: #f37b3f;
  --baseD6: #f88349;
  --baseD7: #fe8c52;
}

/* Default (light) theme */
:root:has(h1.v1) {
  --bg: var(--baseC7);
  --accent-bg: var(--baseC6);
  --text: var(--baseA0);
  --text-light: var(--baseA2);
  --border: var(--baseC5);
  --accent: var(--baseB0);
  --accent-hover: var(--baseB2);
  --accent-text: var(--bg);
  --code: var(--baseD0);
  --preformatted:var(--baseD0);
  --marked: var(--baseD6);
  --disabled: var(--baseD7);

  --color-note: var(--baseA3);
  --color-important: var(--baseB1);
  --color-warning: var(--baseD1);
  --color-tip: var(--baseA3);
  --colour-caution: var(--baseD1);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root:has(h1.v1) {
        --bg: var(--baseA0);
        --accent-bg: var(--baseA1);
        --text: var(--baseC6);
        --text-light: var(--baseA4);
        --border: var(--baseA2);
        --accent: var(--baseB5);
        --accent-hover: var(--baseB7);
        --accent-text: var(--bg);
        --code: var(--baseD5);
        --preformatted:var(--baseD5);
        --marked: var(--baseD6);
        --disabled: var(--baseD7);

        --color-note: var(--baseA4);
        --color-important: var(--baseB1);
        --color-warning: var(--baseD1);
        --color-tip: var(--baseA4);
        --colour-caution: var(--baseD1);
    }
}
