/* https://github.com/atelierbram/Base2Tone/blob/master/db/schemes/base2tone-garden.yml */

:root {
  --baseA0: #1e1f1e;
  --baseA1: #2b2c2a;
  --baseA2: #505350;
  --baseA3: #5d605c;
  --baseA4: #696d69;
  --baseA5: #828782;
  --baseA6: #969c96;
  --baseA7: #aab1aa;
  --baseB0: #1c8217;
  --baseB1: #25931f;
  --baseB2: #3fac39;
  --baseB3: #4cb946;
  --baseB4: #6bcc66;
  --baseB5: #90d98c;
  --baseB6: #b7e3b5;
  --baseB7: #dcf0db;
  --baseC0: #837467;
  --baseC1: #978678;
  --baseC2: #a7988b;
  --baseC3: #b7aa9f;
  --baseC4: #c7bcb2;
  --baseC5: #dbd0c7;
  --baseC6: #ece5df;
  --baseC7: #fbfaf8;
  --baseD0: #bd5d0f;
  --baseD1: #c96a1d;
  --baseD2: #d97726;
  --baseD3: #dd843c;
  --baseD4: #db9257;
  --baseD5: #dba070;
  --baseD6: #d9af8c;
  --baseD7: #e0cab8;
}

/* Default (light) theme */
:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--baseC7);
    --accent-bg: var(--baseB7);
    --text: var(--baseA0);
    --text-light: var(--baseA4);
    --border: var(--baseB5);
    --accent: var(--baseB0);
    --accent-hover: var(--baseB3);
    --accent-text: var(--bg);
    --code: var(--baseD0);
    --preformatted: var(--baseD2);
    --marked: var(--baseD6);
    --disabled: var(--baseA7);
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--baseA0);
    --accent-bg: var(--baseA1);
    --text: var(--baseC6);
    --text-light: var(--baseC1);
    --border: var(--baseA2);
    --accent: var(--baseB5);
    --accent-hover: var(--baseB7);
    --accent-text: var(--bg);
    --code: var(--baseD5);
    --preformatted: var(--baseD7);
    --disabled: var(--baseA2);
  }
}

/* Customised colour theme for GitHub colors */
:root {
  --color-tip: var(--baseB0);
  --color-note: var(--baseB0);
  --color-warning: var(--baseD4);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-tip: var(--baseB3);
    --color-note: var(--baseB3);
    --color-warning: var(--baseD7);
  }
}

/* version 1 */

:root:has(h1.v1) {
  --baseA0: #24242e;
  --baseA1: #333342;
  --baseA2: #515167;
  --baseA3: #5b5b76;
  --baseA4: #737391;
  --baseA5: #8a8aa3;
  --baseA6: #a1a1b5;
  --baseA7: #b8b8c7;
  --baseB0: #5151e6;
  --baseB1: #6363ee;
  --baseB2: #7676f4;
  --baseB3: #767693;
  --baseB4: #8a8aad;
  --baseB5: #aaaaca;
  --baseB6: #cecee3;
  --baseB7: #ebebff;
  --baseC0: #7b736f;
  --baseC1: #8e8580;
  --baseC2: #a09792;
  --baseC3: #b1a9a5;
  --baseC4: #c3bbb7;
  --baseC5: #d8cfcb;
  --baseC6: #eae4e1;
  --baseC7: #fbf9f9;
  --baseD0: #b25424;
  --baseD1: #cb5c25;
  --baseD2: #dd672c;
  --baseD3: #e66e33;
  --baseD4: #ec7336;
  --baseD5: #f37b3f;
  --baseD6: #f88349;
  --baseD7: #fe8c52;
}

/* Customised colour theme for Simple.css */

/* Default (light) theme */
:root:has(h1.v1) {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root:has(h1.v1) {
    --bg: var(--baseC7);
    --accent-bg: var(--baseB7);
    --text: var(--baseA0);
    --text-light: var(--baseA4);
    --border: var(--baseB5);
    --accent: var(--baseB0);
    --accent-hover: var(--baseB3);
    --accent-text: var(--bg);
    --code: var(--baseD0);
    --preformatted: var(--baseD2);
    --marked: #ffdd33;
    --disabled: var(--baseA7);
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root:has(h1.v1) {
    --bg: var(--baseA0);
    --accent-bg: var(--baseA1);
    --text: var(--baseC6);
    --text-light: var(--baseC1);
    --border: var(--baseA2);
    --accent: var(--baseB5);
    --accent-hover: var(--baseB7);
    --accent-text: var(--bg);
    --code: var(--baseD5);
    --preformatted: var(--baseD7);
    --disabled: var(--baseA2);
  }
}

/* Customised colour theme for GitHub colors */
:root:has(h1.v1) {
  --color-tip: var(--baseB0);
  --color-note: var(--baseB0);
  --color-warning: var(--baseD4);
}

@media (prefers-color-scheme: dark) {
  :root:has(h1.v1) {
    color-scheme: dark;
    --color-tip: var(--baseB3);
    --color-note: var(--baseB3);
    --color-warning: var(--baseD7);
  }
}
