/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6944rem, 0.6299rem + 0.3227vw, 0.88rem);
  --step--1: clamp(0.8333rem, 0.7406rem + 0.4638vw, 1.1rem);
  --step-0: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);
  --step-1: clamp(1.2rem, 1.0196rem + 0.9022vw, 1.7188rem);
  --step-2: clamp(1.44rem, 1.1936rem + 1.2321vw, 2.1484rem);
  --step-3: clamp(1.728rem, 1.3949rem + 1.6653vw, 2.6855rem);
  --step-4: clamp(2.0736rem, 1.6272rem + 2.2319vw, 3.3569rem);
  --step-5: clamp(2.4883rem, 1.8943rem + 2.9702vw, 4.1962rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, 0.2065rem + 0.2174vw, 0.375rem);
  --space-2xs: clamp(0.5rem, 0.4348rem + 0.3261vw, 0.6875rem);
  --space-xs: clamp(0.75rem, 0.6413rem + 0.5435vw, 1.0625rem);
  --space-s: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);
  --space-m: clamp(1.5rem, 1.3043rem + 0.9783vw, 2.0625rem);
  --space-l: clamp(2rem, 1.7391rem + 1.3043vw, 2.75rem);
  --space-xl: clamp(3rem, 2.6087rem + 1.9565vw, 4.125rem);
  --space-2xl: clamp(4rem, 3.4783rem + 2.6087vw, 5.5rem);
  --space-3xl: clamp(6rem, 5.2174rem + 3.913vw, 8.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.0978rem + 0.7609vw, 0.6875rem);
  --space-2xs-xs: clamp(0.5rem, 0.3043rem + 0.9783vw, 1.0625rem);
  --space-xs-s: clamp(0.75rem, 0.5326rem + 1.087vw, 1.375rem);
  --space-s-m: clamp(1rem, 0.6304rem + 1.8478vw, 2.0625rem);
  --space-m-l: clamp(1.5rem, 1.0652rem + 2.1739vw, 2.75rem);
  --space-l-xl: clamp(2rem, 1.2609rem + 3.6957vw, 4.125rem);
  --space-xl-2xl: clamp(3rem, 2.1304rem + 4.3478vw, 5.5rem);
  --space-2xl-3xl: clamp(4rem, 2.5217rem + 7.3913vw, 8.25rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.3913rem + 3.0435vw, 2.75rem);
}

:root {
	font-size: 16px;
	font-family: system-ui, sans-serif;

  --standard-border-radius: 5px;
  --border-width: 1px;
}

pre, code {
  font-family: ui-monospace, monospace;
}

body {
	font-size: var(--step-0);
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1, header h1 * {
	font-size: var(--step-3);
}

h2, h2 * {
	font-size: var(--step-2);
}

h3, h3 * {
	font-size: var(--step-1);
}

header *, footer * {
	font-size: var(--step--1);
}

pre, pre * {
	font-size: var(--step--1);
}

/* spacing */

h1, h2, h3 {
  margin-block-start: var(--space-l);
  margin-block-end: var(--space-s);
}
p {
  margin-block: var(--space-s);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Page size */

body {
	display: flex;
	flex-direction: column;
	min-block-size: 100vh;
}

body > header, body > footer {
  background-color: var(--accent-bg);
  text-align: center;
}

body > header {
  border-bottom: var(--border-width) solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-m);
  gap: var(--space-xs);

  > * {
    margin-block: 0;
    padding-block: 0;
  }
}

body > footer {
  border-top: var(--border-width) solid var(--border);
  padding: var(--space-m);
  margin-block-start: var(--space-l);
}

main {
	flex-grow: 1;
	inline-size: min(80ch, 100vw - 2rem);
	margin-inline: auto;
}

/* Main heading link */

header h1 a:not(:hover) {
	text-decoration: none;
}

header h1 a:hover {
	text-decoration: underline;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style-type: none;
  padding-inline: 0;
  display: flex;
}

.breadcrumbs li:not(:last-child)::after {
  content: "\2192";
  padding-inline: 0.5rem;
}

.breadcrumbs a[aria-current=true] {
  text-decoration: none;
  color: currentColor;
  pointer-events: none;
}

/* Strapline */

.strapline {
	text-wrap: balance;
}

/* Nav */

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-xs);
  padding: 0;
  margin: 0;
}

/* Links */

a,
a:visited {
  color: var(--accent);
}

/* Code */

code,
pre,
pre span,
kbd,
samp {
  color: var(--code);
}

/* Blog next/previous links */

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

.links-nextprev > * {
	flex-grow: 1;
}

.links-nextprev-next {
	text-align: right;
}

/* Post date */

.post-date {
  color: var(--text-light);
}

/* Code block */

pre {
	font-size: 1rem;
}

/* Markdown alerts */

.markdown-alert {
  margin-block-start: var(--space-m);
}

/* pre */

pre {
  border: var(--border-width) solid var(--border);
  border-radius: var(--standard-border-radius);
}

/* Format tables */
table {
  border-collapse: collapse;
  margin: 1.5rem 0;
}

figure > table {
  width: max-content;
  margin: 0;
}

td,
th {
  border: var(--border-width) solid var(--border);
  text-align: start;
  padding: 0.5rem;
}

th {
  background-color: var(--accent-bg);
  font-weight: bold;
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background-color: var(--accent-bg);
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}


/* Footer */

footer {
  text-wrap: balance;
  background-color: var(--accent-bg);
}

/* Underlines */

a {
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 0.25em;
}

a:not(:is(:hover, :focus)) {
  text-decoration-color: color-mix(in srgb, currentColor, transparent 75%);
}
