/* define visually-hidden class for screen readers */

.visually-hidden:not(:focus):not(:active) {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* global variables */

:root {
  color-scheme: light dark;

  /* Set sans-serif & mono fonts */
  --sans-font: system-ui, sans-serif;
  --mono-font: ui-monospace, monospace;

  --standard-border-radius: 5px;
  --border-width: 1px;
}

/* type sizes */

/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

body {
    font-size: var(--step-0);
}

footer {
    font-size: var(--step--1);
}

h1 {
    font-size: var(--step-3);
}

h2 {
    font-size: var(--step-2);
}

h3 {
    font-size: var(--step-1);
}

h4 {
    font-size: var(--step-0);
}

h5 {
    font-size: var(--step--1);
}

h6 {
    font-size: var(--step--2);
}

table, pre code, header nav
{
    font-size: var(--step--1);
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: var(--step-2);
  }

  h2 {
    font-size: var(--step-1);
  }

  h3 {
    font-size: var(--step-0);
  }

  h4 {
    font-size: var(--step--1);
  }
}

/* text wrap */

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

code:not(pre code) {
    white-space: nowrap;
}

/* cancel extra bold in headings */

h1, h2, h3, h4, h5, h6 {
    strong {
        font-weight: inherit;
    }
}
