/* https://github.com/atelierbram/Base2Tone/blob/master/db/schemes/base2tone-evening.yml */

:root {
  --baseA0: #2a2433;
  --baseA1: #372f42;
  --baseA2: #574b68;
  --baseA3: #635775;
  --baseA4: #706383;
  --baseA5: #857897;
  --baseA6: #9a90a7;
  --baseA7: #afa7b9;
  --baseB0: #8f51e6;
  --baseB1: #9d63ee;
  --baseB2: #aa75f5;
  --baseB3: #b886fd;
  --baseB4: #c7a0fe;
  --baseB5: #d6b9fe;
  --baseB6: #e4d2fe;
  --baseB7: #f3ebff;
  --baseC0: #7a7171;
  --baseC1: #8d8281;
  --baseC2: #9f9393;
  --baseC3: #b0a6a6;
  --baseC4: #c2b8b7;
  --baseC5: #d7cccb;
  --baseC6: #eae1e1;
  --baseC7: #fbf9f9;
  --baseD0: #cf504a;
  --baseD1: #d95f59;
  --baseD2: #ed655e;
  --baseD3: #f36f68;
  --baseD4: #f87972;
  --baseD5: #fc8983;
  --baseD6: #ff9e99;
  --baseD7: #ffb6b3;
}


/* Customised colour theme for Simple.css */

/* Default (light) theme */
:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--baseC7);
    --accent-bg: var(--baseB7);
    --text: var(--baseA0);
    --text-light: var(--baseA4);
    --border: var(--baseB5);
    --accent: var(--baseB0);
    --accent-hover: var(--baseB3);
    --accent-text: var(--bg);
    --code: var(--baseD0);
    --preformatted: var(--baseD2);
    --marked: var(--baseD6);
    --disabled: var(--baseA7);
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--baseA0);
    --accent-bg: var(--baseA1);
    --text: var(--baseC6);
    --text-light: var(--baseC1);
    --border: var(--baseA2);
    --accent: var(--baseB5);
    --accent-hover: var(--baseB7);
    --accent-text: var(--bg);
    --code: var(--baseD5);
    --preformatted: var(--baseD7);
    --disabled: var(--baseA2);
  }
}

/* Customised colour theme for GitHub colors */
:root {
  --color-tip: var(--baseB0);
  --color-note: var(--baseB0);
  --color-warning: var(--baseD4);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-tip: var(--baseB3);
    --color-note: var(--baseB3);
    --color-warning: var(--baseD7);
  }
}
