pre[class*="language-"]:has(code) {
  position: relative;
  padding-block-start: var(--space-xl);
  /* more stuff */
}

pre:has(code) button {
  position: absolute;
  top: var(--space-3xs);
  right: var(--space-3xs);
  font-size: var(--step--2);
  background: none;
  color: var(--baseB5);
  border-color: var(--baseB5);

  &:enabled:hover, &:enabled:active {
    background: none;
    color: var(--baseB1);
    border-color: var(--baseB1);
  }
}

@media (prefers-color-scheme: dark) {
  pre:has(code) button {
    color: var(--baseA3);
    border-color: var(--baseA3);

    &:enabled:hover, &:enabled:active {
      color: var(--baseB0);
      border-color: var(--baseB0);
    }
  }
}
