---
title: Podcaster Blog
eleventyNavigation:
  key: "Blog"
  order: 2
---
<h1>Podcaster Blog</h1>

{% for post in collections.post | reverse %}
<article>
  <h2>{{ post.data.title }}</h2>
  <p class="post-date">{{ post.date | readableDate }}</p>
  {{ post.content | safe }}
</article>
{% endfor %}