.block-header {
  font-size: var(--step--1);
  border: var(--border-width) solid var(--border);
  padding: 1rem;
  border-radius: var(--standard-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: dashed;
  line-height: 1;
  display: flex;
  justify-content: space-between;

  * {
    color: var(--accent);
    text-transform: uppercase;
  }

  + pre {
    margin-block-start: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  button {
    color: var(--accent);
    background: none;
    border: none;
    margin-block-end: 0;
    padding: 0;
    cursor: copy;

    &:enabled:hover, &:enabled:active {
      color: var(--accent-hover);
      background: none;
    }
  }
}
