.block-header {
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: dashed;
  line-height: 1;
  display: flex;
  justify-content: space-between;
}

.block-header * {
  color: var(--baseB4);
  font-size: var(--step--2);
  text-transform: uppercase;
}

.block-header + pre {
  margin-block-start: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.block-header button {
  color: var(--baseB5);
  background: none;
  border: none;
  margin-block-end: 0;
  padding: 0;
  cursor: copy;

  &:enabled:hover, &:enabled:active {
    color: var(--baseB0);
    background: none;
  }
}

@media (prefers-color-scheme: dark) {
  .block-header * {
    color: var(--baseB7);
  }
  .block-header button {
    color: var(--baseA5);

    &:enabled:hover, &:enabled:active {
      color: var(--baseB2);
    }
  }
}
