@media (prefers-color-scheme: dark) {
  :root {
    --color-note: var(--base-B3);
    --color-tip: #3fb950;
    --color-warning: #d29922;
    --color-severe: #db6d28;
    --color-caution: #f85149;
    --color-important: var(--baseA7);
  }

  :root:has(h1.v1) {
    --color-important: var(--baseA3);
  }
}
