a {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);

    &:has(code:only-child) {
        text-decoration-color: color-mix(in srgb, var(--code), transparent 50%);
    }

    &:hover, &:active, &:focus {
        color: var(--accent-hover);
        text-decoration: none;
    }

    header h1 & {
        text-decoration: none;
    }

    @media only screen and (width > 720px) {
      header nav & {
        text-decoration: none;
      }
    }
}
