.token.punctuation,
.token.comment {
    color: color-mix(in srgb, currentColor, transparent 40%);
}

.token.string {
    color: var(--accent);
}

.token.keyword {
    font-style: italic;
}

.token.italic {
    font-style: italic;
}

.token.prefix.inserted {
    color: transparent;
}

.token.inserted {
    font-weight: bold;
}
