<!doctype html>
<html lang="{{ site.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ pageTitle | safe }}</title>
		<meta name="description" content="{{ description or site.description }}">
		<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ site.title }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		{% include "og-data.njk" %}
		<link rel="stylesheet" href="/css/simple.min.css">
		<link rel="stylesheet" href="/css/index.css">
		{%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
		{%- js %}{% include "public/js/copy-buttons.js" %}{% endjs %}
             	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header>
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
			<h1><a href="/">Podcaster</a></h1>
			<p class="strapline">Hosting a podcast and creating its website with Eleventy.</p>
		</header>

		<main id="skip">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>

		<footer>
			<p>&copy; Copyright 2025 by <a href="https://gunsandfrocks.com">Nathan Bottomley</a>.
			Created with <a href="https://11ty.dev/">Eleventy</a>.
			<a href="/about/#colophon">Colophon</a>.
		</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
		<script src="https://tinylytics.app/embed/sdgxetmkpayGctHCnouX.js" defer></script>
	</body>
</html>
