---
layout: 'layouts/base.njk'
---

{% renderTemplate 'md' %}
> [!important]
> This page contains documentation for **Podcaster** version 1, which was superseded by version 2 in January 2026. Here's a link to [the documentation for version 2](/docs/).
{% endrenderTemplate %}

<h1 class="v1">{{ title }}</h1>

{{ content | safe }}
